*Q1. Create one variable containing following type of data:*

***(i) String***

In [1]:
var='sumit verma'
print(type(var))

<class 'str'>

***(ii) List***

In [2]:
var1=[3,5,1]
print(type(var1))

<class 'list'>

***(iii)Float***

In [3]:
var2=4.6
print(type(var2))

<class 'float'>

***(iv) Tuple***

In [4]:
var3=(3,5,7)
print(type(var3))

<class 'tuple'>

***Q2. Given are some following variables containing data:
        What will be the data type of the given variables.***

***(i) var1 = ‘ ‘***

In [5]:
var1=''
print(type(var1))

<class 'str'>

***(ii)	var2 = ‘[ DS , ML , Python]’***

In [6]:
var2 = '[ DS , ML , Python]'
print(type(var2))

<class 'str'>

***(iii) var3 = ['DS', 'ML' , 'Python' ]***

In [7]:
var3=['DS','ML','PYTHON']
print(type(var3))

<class 'list'>

***(iv)	var4 = 1.***

In [13]:
var4=1.
print(type(var4))

<class 'float'>

***Q3. Explain the use of the following operators using an example:***

***(i) /***

*Ans:- / is known as division operator.It is used for the division , It gives the exact division result in floating numbers. for ex:-*

In [16]:
x=5/2       #Here x has a value which is obtain from the division of 5 by 2 i.e. 2.5
print(x)

2.5

***(ii) %***

*Ans:- % is known as modulus operator.It is used to get the remainder of the division. for ex:-*

In [18]:
x=5%2       #Here x gives the remainder when we divide 5 by 2 i.e. 1 
print(x)

1

***(iii) //***

*Ans:- '//' is known as double slash operator , it is used for the floor division of the values which means it gives the quotient in integer value. for ex:-*

In [20]:
y=5//2     # Here y gives the quotient in integer value which means it does not contain decimal value(floating value) i.e. 2
print(y)

2

***(iv)*****

*Ans:- ** is known as power or exponential operator . it performs the exponential calculation. for ex:-*

In [23]:
z=2**3     # here z gives exponential value i.e. 8 (2*2*2)
print(z)

8

***Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the 
element and its data type.
Ans:-***

In [25]:
	l=[2,2.4,'sumit',True,[3,4],(4,6),{3,8},"verma",4,5.8]
	print(f"lenth of the list is: {len(l)}")
	for i in l:
	    print(f'value={i}')
	    print(f"Type of the value is: {type(i)}\n")

lenth of the list is: 10
value=2
Type of the value is: <class 'int'>

value=2.4
Type of the value is: <class 'float'>

value=sumit
Type of the value is: <class 'str'>

value=True
Type of the value is: <class 'bool'>

value=[3, 4]
Type of the value is: <class 'list'>

value=(4, 6)
Type of the value is: <class 'tuple'>

value={8, 3}
Type of the value is: <class 'set'>

value=verma
Type of the value is: <class 'str'>

value=4
Type of the value is: <class 'int'>

value=5.8
Type of the value is: <class 'float'>

***Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many 
times it can be divisible.
Ans:-***

In [26]:
	a=int(input("Enter value of A: "))
	b=int(input("Enter value of B: "))
	i=0
	if a%b==0:
    		while a>0:
        		a=a-b
        		i=i+1
    		print(f'Number is divisible by {i} times')
	else:
    		print('A is not divisible by B')

Enter value of A:  50
Enter value of B:  2

Number is divisible by 25 times

***Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is 
divisible by 3 or not***

***Ans:-***

In [30]:
	l=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
	for i in l:
    	if i%3==0:
            print(f'{i} is divisible by 3')
    	else:
            print(f'{i} is not divisible by 3')

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

***Q7. What do you understand about mutable and immutable data types? Give examples for both showing 
this property.***

***Ans:-***

*Mutable: when the object allows you to change its value that type of object are called mutable object.
	          for ex - list are mutable it allows to change its values*

In [31]:
a=[2,4,5,7,3]
a[2]=9
print(a)       #a[2] will be changed in the output i.e. [2,4,9,7,3]

[2, 4, 9, 7, 3]

*Immutable: Those type of object which doesn`t allows you to change its value are called immutable object.
	          for ex - tuple are immutable it does not allows you to change its value after declaration.*

In [33]:
 a=(2,4,5,7,3)
a[2]=9
print(a)	#a[2] will not change as a is a tuple and it will remain (2,4,5,7,3)

TypeError: 'tuple' object does not support item assignment